.card-profile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px , 1fr))
}

.card-image-container {
    border: solid black 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    display:flex;

    align-items: center;
    justify-content: center;

    height: calc(100vh - 4rem);
    width: 500px;
}

.card-image-container img {
    border: solid black 1px;
    border-radius: 3%;

    min-width: 250px;
    max-width: 500px;
    width: auto;
    height: auto;
    min-height: 350px;
    max-height: 700px;
    object-fit: cover;
    display: block;
}

.card-info {
    justify-content: center;
    align-items: center;
}